.card .card-content{
  padding-top: 0px;
}

.card-meta{
  padding: 1px 20px;
}

.post-date{
   color: rgba(0,0,0,0.57);
}

.card .card-title{
  font-weight: bold;
  text-align: center;
}

.card .card-action{
  padding-top: 6px;
  padding-bottom: 6px;
}
